.App {
	text-align: center;
}
.Container {
	margin: 0 auto;
	max-width: 720px;
}
.Header {
	color: #f8c706;
	text-transform: uppercase;
}
.characterHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
